<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<!-- 定义变量var1-->
		<variable name="var1" value="${basedir}/logs"/>
		
		<!--控制台彩色打印-->
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${callsite:CleanNamesOfAnonymousDelegates=true:MethodName=false}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<!--写入log文本文件-->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="d:/logs/nlog/AT___${shortdate}.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${callsite:CleanNamesOfAnonymousDelegates=false:MethodName=true}|${MethodName=true}|${message}" />
		</target>

		<!--写入mysql数据库-->
		<target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target type="Database" dbProvider="MySql.Data.MySqlClient" connectionString="server=10.0.10.66;port=3306;database=logedemo;uid=root;pwd=123321;SslMode=none">
				<commandText>
					INSERT INTO tbLog(Timestamp,Level,Message,StackTrace) VALUES(@time_stamp, @level, @message, @stacktrace);
				</commandText>
				<!--database connection parameters-->
				<parameter name="@time_stamp" layout="${date}" />
				<parameter name="@level" layout="${level:uppercase=true}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@stacktrace" layout="${stacktrace}" />
			</target>
		</target>
	</targets>
	<rules>
		<!--database connection parameters
		<logger name="*" minlevel="Info" writeTo="db" />
		-->
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>